* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(180deg, #10b981 0%, #059669 100%);
}

html {
    scrollbar-width: none;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.start {
    background-color: white;
    font-family: 'Inter', sans-serif;
    text-align: justify;
    border-radius: 10px;
    width: 60vw;
    height: auto;
    padding: 15px 100px;
    margin-top: 40px;
    background: #ffffff;
    box-shadow: 0 8px 20px rgba(0,0,0,.08);
}

#subtitleSimulation {
    margin-top: 20px;
}

#input {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 15px;
    background: #ffffff;
}

.campo {
    display: flex;
    flex-direction: column;
}

.campo label {
    margin-bottom: 5px;
    font-weight: bold;
}

.campo input,
.campo select {
    width: 170px;
    padding: 5px;
    border: 1px solid #767676;
    border-radius: 5px;
    background: #ffffff;
}

#hoursPerDay {
    width: 120px;
}

#daysPerMonth {
    width: 120px;
}

#category {
    width: 120px;
}

#quantity {
    width: 120px;
}

#watts {
    width: 125px;
}

#formFields {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    background: #ffffff;
    box-shadow: 0 8px 20px rgba(0,0,0,.08);
}

#button {
    background: linear-gradient(135deg,#10b981,#059669);
    transition: .2s;
    font-family: 'Inter', sans-serif;
    color: white;
    font-weight: bold;
    text-align: center;
    border: 1px solid gray;
    border-radius: 5px;
    width: 90px;
    height: 30px;
    align-self: center;
}

#buttton :hover {
    transform: translateY(-2px);
    box-shadow: 0 8px 20px rgba(16,185,129,.3);
}

.title {
    font-family: 'Archivo Black', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.simulation {
    background-color: white;
    font-family: 'Inter', sans-serif;
    text-align: justify;
    border-radius: 10px;
    width: 60vw;
    height: auto;
    padding: 15px;
    margin-top: 40px;
}

.consumptionAndCost {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.boxesRow {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.boxesTitle {
    background: linear-gradient(135deg,#10b981,#059669);
    color: white;
    box-shadow: 0 8px 20px rgba(0,0,0,.08);
    padding: 10px 20px;
    border-radius: 15px;

    font-family: 'Archivo Black', sans-serif;
    font-size: 1.7rem;
}

.consumptionBoxes {
    background-color: #f2f2f2;
    border-radius: 25px;

    width: 250px;
    height: 290px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.value {
    font-family: 'Archivo Black', sans-serif;
    font-size: 5rem;

    width: 100%;
    text-align: center;
}

#energyRateText {
    cursor: pointer;
}

#energyRate:hover {
    opacity: 0.8;
}

#energyRateInput {
    display: none;
    width: 100%;

    border: none;
    background: transparent;
    outline: none;

    text-align: center;

    font-family: 'Archivo Black', sans-serif;
    font-size: 5rem;
}

.unit {
    font-family: 'Archivo Black', sans-serif;
    font-size: 1rem;
}

.obs {
    text-align: center;
    font-size: 0.6rem;
}

.tips {
    background-color: white;
    border-radius: 10px;
    width: 60vw;
    height: auto;
    padding: 20px;
    margin: 40px;
    box-shadow: 0 8px 20px rgba(0,0,0,.08);
}

#titleTipsContainer {
    margin-bottom: 30px;
}

#tipsContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.tipCard {
    background: linear-gradient(135deg,#10b981,#059669);
    border-radius:10px;
    padding:20px 25px;
    margin-top: 20;
    display:flex;
    flex-direction:column;
    gap:15px;
    box-shadow:0 8px 18px rgba(0,0,0,.15);
    transition:.2s;
}

.tipCard:hover{
    transform:translateY(-3px);

}

.tipAppliances{
    font-family: 'Inter', sans-serif;
    display:inline-block;
    background:#eeeeee;
    padding:10px 15px;
    border-radius:10px;
    font-weight:bold;
    font-size:1rem;
    color:#222;
    max-width:fit-content;
    word-break:break-word;
}

.tipText{
    font-family: 'Inter', sans-serif;
    font-size:1.2rem;
    font-weight:700;
    white-space: pre-line;

    color: white;

    line-height:1.4;
}