* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #10b981
}


main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.start {
    background-color: white;
    font-family: 'Inter', sans-serif;
    text-align: justify;
    border-radius: 10px;
    width: 60vw;
    height: auto;
    padding: 15px 100px;
    margin-top: 40px;
}

#subtitleSimulation {
    margin-top: 20px;
}

#input {
    display: flex;
    gap: 20px;
    align-items: flex-end;
    flex-wrap: wrap;
    margin-top: 15px;
}

.campo {
    display: flex;
    flex-direction: column;
}

.campo label {
    margin-bottom: 5px;
    font-weight: bold;
}

.campo input,
.campo select {
    width: 170px;
    padding: 5px;
    border: 1px solid #767676;
    border-radius: 5px;
}

#button {
    background-color: #10b981;
    font-family: 'Inter', sans-serif;
    color: white;
    font-weight: bold;
    text-align: center;
    border: 1px solid gray;
    border-radius: 5px;
    width: 90px;
    height: 30px;
}

.title {
    font-family: 'Archivo Black', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.simulation {
    background-color: white;
    font-family: 'Inter', sans-serif;
    text-align: justify;
    border-radius: 10px;
    width: 60vw;
    height: auto;
    padding: 15px;
    margin-top: 40px;
}

.consumptionAndCost {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.boxesRow {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.boxesTitle {
    background-color: #10b981;
    padding: 10px 20px;
    border-radius: 15px;

    font-family: 'Archivo Black', sans-serif;
    font-size: 1.7rem;
}

.consumptionBoxes {
    background-color: #f2f2f2;
    border-radius: 25px;

    width: 250px;
    height: 290px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.value {
    font-family: 'Archivo Black', sans-serif;
    font-size: 5rem;
}

/* #energyRate {
    width: 18px;
    border: none;
    background: none;
    outline: none;

    text-align: center;

    font-family: 'Archivo Black', sans-serif;
    font-size: 5rem;

    padding: 0;
} */

#energyRateText {
    cursor: pointer;
}

#energyRate:hover {
    opacity: 0.8;
}

#energyRateInput {
    display: none;
    width: 170px;

    border: none;
    background: transparent;
    outline: none;

    text-align: center;

    font-family: 'Archivo Black', sans-serif;
    font-size: 5rem;
}

.unit {
    font-family: 'Archivo Black', sans-serif;
    font-size: 1rem;
}

.obs {
    text-align: center;
    font-size: 0.6rem;
}

.tips {
    background-color: white;
    font-family: 'Inter', sans-serif;
    text-align: justify;
    border-radius: 10px;
    width: 60vw;
    height: auto;
    padding: 5px;
    margin: 40px;
}